## Data Exploration and Understanding correlations
This script primarily explores RECS data to understand
1. distinction in data features (categorical, numerical, possible predictors and outputs)
2. Understand correlation between features
3. Any missing / duplicate values
4. Data requiring one-hot encoding

In [14]:
# IMport dependencies
import pandas as pd
from pandas import set_option
import numpy
import os
import csv

import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# set global variables
dataFilePath = "dataforfinalproject"
filename = "RECS_COMBINED_DATA.csv"
cols_file = "Final_Columns_withCat.csv"

In [5]:
# read dataset and cols into DF
df_recs = pd.read_csv(os.path.join(dataFilePath, filename), low_memory= False)
df_cols = pd.read_csv(os.path.join(dataFilePath, cols_file))

In [16]:
# Start Data Exploration
print(f"shape of the dataset df_recs is {df_recs.shape}")

# print the dtypes
set_option("precision", 1)
df_recs.head()

shape of the dataset df_recs is (26973, 199)

,RECSYEAR,DOEID,REGIONC,DIVISION,TYPEHUQ,CELLAR,STORIES,PRKGPLC1,YEARMADE,OCCUPYY,...,WDPELLET,WDOTHER,WDWARM,WDWATER,USESOLAR,SOLWATER,SOLOTHER,TVAUDIOEQUIP,PCOFFEQUIP,PHONE
0,2001,1001,1,1,2,1,31,1,9,9,...,9,0,0,0,0,0,0,8,2,3
1,2001,1002,3,7,2,0,10,1,7,9,...,9,0,0,0,0,0,0,7,2,3
2,2001,1003,4,9,2,0,20,1,4,1,...,9,0,0,0,0,0,0,9,0,3
3,2001,1004,1,1,2,1,31,1,1,2,...,0,0,1,0,0,0,0,12,6,3
4,2001,1005,4,9,2,0,10,1,3,9,...,9,0,0,0,0,0,0,6,2,3

In [17]:
set_option("precision",1)
df_recs.describe()

,RECSYEAR,DOEID,REGIONC,DIVISION,TYPEHUQ,CELLAR,STORIES,PRKGPLC1,YEARMADE,OCCUPYY,...,WDPELLET,WDOTHER,WDWARM,WDWATER,USESOLAR,SOLWATER,SOLOTHER,TVAUDIOEQUIP,PCOFFEQUIP,PHONE
count,26973.0,26973.0,26973.0,26973.0,26973.0,26973.0,26973.0,26973.0,26973.0,26973.0,...,26973.0,26973.0,26973.0,2.7e+04,2.7e+04,2.7e+04,2.7e+04,26973.0,26973.0,26973.0
mean,2008.2,6382.2,2.6,5.3,2.6,1.1,19.1,0.8,885.5,6.8,...,1.5,-1.1,0.1,1.2e-03,9.3e-03,2.4e-03,5.9e-03,6.9,2.9,1.6
std,4.6,4460.8,1.1,2.8,1.2,3.4,25.5,2.6,978.1,2.2,...,4.9,1.0,0.3,3.4e-02,9.6e-02,4.9e-02,7.6e-02,3.9,2.5,1.1
min,2001.0,1.0,1.0,1.0,1.0,-2.0,-2.0,-2.0,1.0,1.0,...,-2.0,-2.0,0.0,0.0e+00,0.0e+00,0.0e+00,0.0e+00,0.0,0.0,0.0
25%,2005.0,2585.0,2.0,3.0,2.0,0.0,10.0,0.0,4.0,6.0,...,-2.0,-2.0,0.0,0.0e+00,0.0e+00,0.0e+00,0.0e+00,4.0,0.0,1.0
50%,2009.0,5064.0,3.0,5.0,2.0,0.0,10.0,0.0,8.0,8.0,...,-2.0,-2.0,0.0,0.0e+00,0.0e+00,0.0e+00,0.0e+00,6.0,3.0,2.0
75%,2009.0,10513.0,3.0,7.0,3.0,1.0,20.0,1.0,1970.0,8.0,...,9.0,0.0,0.0,0.0e+00,0.0e+00,0.0e+00,0.0e+00,9.0,4.0,2.0
max,2015.0,15686.0,4.0,10.0,5.0,9.0,99.0,9.0,2009.0,9.0,...,9.0,1.0,1.0,1.0e+00,1.0e+00,1.0e+00,1.0e+00,43.0,23.0,10.0

In [20]:
df_recs[df_recs.YEARMADE > 20]

,RECSYEAR,DOEID,REGIONC,DIVISION,TYPEHUQ,CELLAR,STORIES,PRKGPLC1,YEARMADE,OCCUPYY,...,WDPELLET,WDOTHER,WDWARM,WDWATER,USESOLAR,SOLWATER,SOLOTHER,TVAUDIOEQUIP,PCOFFEQUIP,PHONE
9204,2009,1,2,4,2,1,20,1,2004,8,...,-2,-2,0,0,0,0,0,11,5,2
9205,2009,2,4,10,2,0,31,1,1998,8,...,0,1,1,0,0,0,0,6,4,0
9206,2009,3,1,1,5,-2,-2,-2,1965,7,...,-2,-2,0,0,0,0,0,2,3,2
9207,2009,4,2,3,2,0,10,1,1985,5,...,-2,-2,0,0,0,0,0,9,4,2
9208,2009,5,1,1,3,1,20,0,1983,5,...,-2,-2,0,0,0,0,0,7,4,1
9209,2009,6,2,4,2,1,20,0,1920,5,...,-2,-2,0,0,0,0,0,3,5,1
9210,2009,7,1,2,2,1,20,0,1922,5,...,0,0,1,0,0,0,0,15,7,2
9211,2009,8,3,5,2,0,10,1,1975,8,...,-2,-2,0,0,0,0,0,3,3,0
9212,2009,9,1,2,3,1,20,0,1920,6,...,-2,-2,0,0,0,0,0,5,0,2
9213,2009,10,2,4,2,1,10,0,1955,7,...,-2,-2,0,0,0,0,0,6,3,2
9214,2009,11,4,10,4,0,-2,-2,1950,7,...,-2,-2,0,0,0,0,0,2,0,0
9215,2009,12,1,2,2,1,20,1,1968,6,...,-2,-2,0,0,0,0,0,8,13,2
9216,2009,13,4,10,2,0,10,0,1950,8,...,-2,-2,0,0,0,0,0,10,7,2
9217,2009,14,3,5,5,-2,-2,-2,1980,8,...,-2,-2,0,0,0,0,0,5,0,0
9218,2009,15,4,8,5,-2,-2,-2,1985,8,...,-2,-2,0,0,0,0,0,2,0,1
9219,2009,16,3,5,2,1,20,1,1993,6,...,-2,-2,0,0,0,0,0,8,9,2
9220,2009,17,3,5,2,0,10,0,1963,3,...,-2,-2,0,0,0,0,0,2,0,0
9221,2009,18,1,2,4,1,-2,-2,1940,8,...,-2,-2,0,0,0,0,0,0,3,2
9222,2009,19,4,8,1,-2,10,0,1992,8,...,-2,-2,0,0,0,0,0,4,5,1
9223,2009,20,2,4,2,1,20,1,1988,5,...,-2,-2,0,0,0,0,0,9,0,1
9224,2009,21,4,10,2,0,10,1,1958,4,...,-2,-2,0,0,0,0,0,14,9,2
9225,2009,22,2,3,2,0,10,0,1972,8,...,-2,-2,0,0,0,0,0,12,2,0
9226,2009,23,1,2,2,0,20,0,1950,8,...,-2,-2,0,0,0,0,0,2,2,1
9227,2009,24,3,5,2,0,10,1,2000,7,...,-2,-2,0,0,0,0,0,4,0,1
9228,2009,25,2,3,2,1,20,1,1975,5,...,0,0,1,0,0,0,0,13,9,1
9229,2009,26,1,1,4,1,-2,-2,1920,8,...,-2,-2,0,0,0,0,0,9,1,0
9230,2009,27,2,3,5,-2,-2,-2,1991,6,...,-2,-2,0,0,0,0,0,8,0,2
9231,2009,28,4,10,2,1,10,0,1928,4,...,-2,-2,0,0,0,0,0,6,0,1
9232,2009,29,3,5,1,-2,10,0,1972,7,...,-2,-2,0,0,0,0,0,3,0,0
9233,2009,30,3,7,2,0,10,1,2000,8,...,0,0,1,0,0,0,0,7,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21257,2009,12054,3,5,5,-2,-2,-2,1986,8,...,-2,-2,0,0,0,0,0,6,1,1
21258,2009,12055,3,5,2,0,40,1,1957,4,...,-2,-2,0,0,0,0,0,7,0,2
21259,2009,12056,3,7,2,0,10,1,1990,6,...,-2,-2,0,0,0,0,0,6,3,2
21260,2009,12057,2,3,2,1,10,0,1938,3,...,-2,-2,0,0,0,0,0,13,4,1
21261,2009,12058,3,5,5,-2,-2,-2,1998,8,...,-2,-2,0,0,0,0,0,5,3,0
21262,2009,12059,4,10,2,0,20,1,1940,7,...,-2,-2,0,0,0,0,0,6,3,0
21263,2009,12060,2,3,2,1,10,0,1975,8,...,-2,-2,0,0,0,0,0,11,1,0
21264,2009,12061,2,3,2,0,20,0,2000,7,...,-2,-2,0,0,0,0,0,6,3,2
21265,2009,12062,1,2,2,1,20,0,1965,8,...,1,0,1,0,0,0,0,12,4,1
21266,2009,12063,4,10,2,0,10,1,1955,8,...,-2,-2,0,0,0,0,0,9,0,0
21267,2009,12064,2,4,2,1,20,1,1998,6,...,-2,-2,0,0,0,0,0,11,6,2
21268,2009,12065,4,8,2,0,10,0,1985,8,...,-2,-2,0,0,0,0,0,3,2,0
21269,2009,12066,2,4,2,1,20,0,1920,6,...,-2,-2,0,0,0,0,0,6,3,2
21270,2009,12067,4,10,5,-2,-2,-2,1985,8,...,-2,-2,0,0,0,0,0,6,3,2
21271,2009,12068,1,1,5,-2,-2,-2,1920,5,...,-2,-2,0,0,0,0,0,4,0,2
21272,2009,12069,1,2,5,-2,-2,-2,1940,8,...,-2,-2,0,0,0,0,0,6,3,1
21273,2009,12070,1,1,2,1,10,0,1920,4,...,-2,-2,0,0,0,0,0,6,2,2
21274,2009,12071,4,10,3,0,20,1,1986,5,...,-2,-2,0,0,0,0,0,4,4,2
21275,2009,12072,3,6,2,1,20,0,1920,8,...,-2,-2,0,0,0,0,0,11,3,2
21276,2009,12073,4,10,2,0,20,1,1998,6,...,-2,-2,0,0,0,0,0,12,9,1
21277,2009,12074,3,5,2,0,20,1,2006,8,...,-2,-2,0,0,0,0,0,2,3,2
21278,2009,12075,3,5,2,0,10,1,2001,8,...,-2,-2,0,0,0,0,0,6,0,2
21279,2009,12076,2,4,2,0,10,0,1979,6,...,0,0,0,0,0,0,0,5,6,2
21280,2009,12077,2,4,3,0,10,0,1998,8,...,-2,-2,0,0,0,0,0,3,0,1
21281,2009,12078,3,5,2,0,20,1,2008,8,...,-2,-2,0,0,0,0,0,7,2,1
21282,2009,12079,2,3,2,1,10,1,1985,7,...,0,0,1,0,0,0,0,7,2,0
21283,2009,12080,3,7,4,0,-2,-2,1980,8,...,-2,-2,0,0,0,0,0,2,0,0
21284,2009,12081,2,4,2,0,31,1,1993,7,...,-2,-2,0,0,0,0,0,10,3,1
21285,2009,12082,4,8,2,1,10,0,1930,4,...,-2,-2,0,0,0,0,0,4,3,2
21286,2009,12083,4,10,2,1,10,1,1948,8,...,-2,-2,0,0,0,0,0,5,3,2

In [17]:
#NGXBTU     is not required so drop the col
df.drop(labels = ['NGXBTU'], axis = 1, inplace = True)

In [20]:
df.isnull().values.sum()

0

In [23]:
df.describe()

,DOEID,REGIONC,DIVISION,TYPEHUQ,ZTYPEHUQ,CELLAR,ZCELLAR,BASEFIN,ZBASEFIN,ATTIC,...,PERIODEL,ZELAMOUNT,PERIODNG,ZNGAMOUNT,FOXBTU,PERIODFO,ZFOAMOUNT,LPXBTU,PERIODLP,ZLPAMOUNT
count,5686.000000,5686.000000,5686.000000,5686.000000,5686.0,5686.000000,5686.000000,5686.000000,5686.000000,5686.000000,...,5686.000000,5686.000000,5686.000000,5686.000000,5686.000000,5686.000000,5686.000000,5.686000e+03,5686.000000,5686.000000
mean,12843.500000,2.760816,5.670243,2.596025,0.0,-0.205593,-0.505276,-1.199261,-1.381815,-0.111854,...,1.454801,0.109040,0.181674,-0.731094,137.441423,-1.738305,-1.872318,9.133000e+01,-1.479071,-1.748505
std,1641.551147,1.004187,2.842655,1.164641,0.0,1.134775,0.880288,1.235166,0.933693,1.187953,...,1.250216,0.311716,2.197037,1.117215,0.142739,1.197667,0.558504,5.230054e-12,1.663040,0.767910
min,10001.000000,1.000000,1.000000,1.000000,0.0,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,1.000000,0.000000,-2.000000,-2.000000,135.000000,-2.000000,-2.000000,9.133000e+01,-2.000000,-2.000000
25%,11422.250000,2.000000,3.000000,2.000000,0.0,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,1.000000,0.000000,-2.000000,-2.000000,137.450000,-2.000000,-2.000000,9.133000e+01,-2.000000,-2.000000
50%,12843.500000,3.000000,5.000000,2.000000,0.0,0.000000,0.000000,-2.000000,-2.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,137.450000,-2.000000,-2.000000,9.133000e+01,-2.000000,-2.000000
75%,14264.750000,4.000000,8.000000,3.000000,0.0,1.000000,0.000000,0.000000,0.000000,1.000000,...,1.000000,0.000000,1.000000,0.000000,137.450000,-2.000000,-2.000000,9.133000e+01,-2.000000,-2.000000
max,15686.000000,4.000000,10.000000,5.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,...,5.000000,1.000000,5.000000,1.000000,137.450000,5.000000,1.000000,9.133000e+01,5.000000,1.000000

In [ ]:
#separate out predictors